body.tilegrid_tilegrid_jsx {
  overflow: hidden;
}

body.tilegrid_tilegrid_jsx .demo-pane {
  width: 98%;
  height: calc(100% - 75px);
  overflow: hidden;
  transition: height 0.15s ease-out;
  margin-left: 12px;
}

body.tilegrid_tilegrid_jsx .code-pane {
  height: 75px;
  overflow: auto;
  transition: height 0.15s ease-out
}

body.tilegrid_tilegrid_jsx .code-pane .more {
  display: inline-block;
}

body.tilegrid_tilegrid_jsx[data-showmore="code"] .demo-pane .more {
  display: inline-block;
}

body.tilegrid_tilegrid_jsx[data-showmore="code"] .code-pane .more {
  display: none;
}

body.tilegrid_tilegrid_jsx[data-showmore="code"] .demo-pane {
  height: 40%;
}

body.tilegrid_tilegrid_jsx[data-showmore="code"] .code-pane {
  height: 57%;
}

body.tilegrid_tilegrid_jsx #demo {
  height: calc(100% - 52px);
}

body.tilegrid_tilegrid_jsx .demo,
body.tilegrid_tilegrid_jsx .collection,
body.tilegrid_tilegrid_jsx .grid {
  height: 100%;
}

body.tilegrid_tilegrid_jsx .tilegrid-react {
  height: calc(100% - 24px);
}

body.tilegrid_tilegrid_jsx .grid {
  display: inline-block;
  width: calc(90% - 308px);
}

body.tilegrid_tilegrid_jsx .preview {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  margin-left: 5px;
  width: 380px;
  height: calc(100% - 24px);
  overflow: auto;
}

body.tilegrid_tilegrid_jsx .preview .lazy-image {
  min-height: 140px;
  display: inline-block;
}

body.tilegrid_tilegrid_jsx .preview img {
  width: 100px;
}

body.tilegrid_tilegrid_jsx .preview .top-right {
  display: inline-block;
  width: calc(100% - 113px);
  vertical-align: top;
  margin-left: 7px;
} 
